@import  './colors.scss';

$breakpoint:830px;

.about{
    &__inner{
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &__content{
            flex: 300px;
        }
        &__image{
            margin-left: 2.5rem;
            .wrapper{
                position: relative;
                img{
                    height: 300px;
                    width: 300px;
                    border-radius: 0.5rem;
                }
                &::after{
                    content: "";
                    border: 3px $color-tertiary solid;
                    border-radius: 0.5rem;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    width: 300px;
                    height: 300px;
                    z-index: -1;
                    transition: all 0.3s ease-in-out;

                }
                &:hover{
                    &::after{
                        border-color: $color-secondary;
                        top: 10px;
                        left: 10px;
                    }
                }
            }
        }
    }
    
}

@media (max-width:$breakpoint) {
    .about{
        &__inner{
            flex-direction: column;
            justify-content: center;
        &__image{
            margin-left: 0;
        }
        }
    }
}