@keyframes slidein{
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    // 25%{
    //     opacity: 0.25;
    // }
    // 50%{
    //     opacity: 0.5;
    // }
    // 75%{
    //     opacity: 0.75;
    // }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.slidein{

    animation-duration: 0.2s;
    animation-name: slidein;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(10px);
    &-12{
        animation-delay: 1.2s;
    }
}

@keyframes fadein {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.fadein{
    
    opacity: 0;
    animation-name: fadein;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    
    &-14{
        animation-delay: 1.4s;
    }

}

@keyframes dropin {
    0%{
        transform: translateY(-10px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.dropin{
    transform: translateY(-10px);
    opacity: 0;
    animation-name: dropin;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    &-1{
        animation-delay: 1s;
    }
}