$color-primary: #37284f;
$color-secondary: #793cfb;
$color-tertiary: #A77CE3;
$color-background: #faf2f0;
// $color-background: hsl(15, 20%, 96%);
// $color-background: white;
$color-highlight: #8A4383;