@import  './colors.scss';

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    border-style: solid;
    border-color: $color-secondary;
    margin: 0.5rem 0;
    text-decoration: none;
    &__secondary{
        background-color: $color-secondary;
        color: white;
        padding: 0 1rem;
        &:hover{
            background-color: $color-background;
            color: $color-secondary;
        }
    }
}

.font-bodoni{
    font-family: 'Bodoni Moda', sans-serif;
    font-weight: 600;
}

.font-thin{
    font-weight: 100;
}

h2, h4, h5{
    margin: 0;
}

h4 {
    font-family: 'Bodoni Moda', serif;
    // font-weight: 900;
    font-size: 1.1rem;
}

h2{
    font-size: 3rem;
    font-weight: 500;
}

.section{
    &__heading{
        color: $color-primary;
        font-size: 3rem;
        font-weight: 600;
        display: flex;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: relative;
            margin-left: 10px;
            height: 1px;
            width: 300px;
            background-color: $color-tertiary;
            top: 2.5rem;
        }
    }
    &__heading-center{
        color: $color-primary;
        font-size: 3rem;
        font-weight: 900;
        display: flex;
        font-family: 'Bodoni Moda', sans-serif;
        justify-content: center;
    }
    &__inner{
        margin: 2rem 0;
        color: black;
        display: flex;
        // flex-direction: row;
    }
}

.tablist{
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
    button{
        cursor: pointer;
        background-color: $color-background;
        font-family: 'Bodoni Moda', sans-serif;
        // font-size: 1.2rem;
        font-weight: 600;
        width: 7rem;
        padding: 0.5rem 1rem;
        border: 0;
        border-left: 2px $color-tertiary solid ;
        &.select{
            border-left: 3px $color-highlight solid ;
            color: $color-highlight ;
            background-color: #E0D0D3;
        }
        &:hover{
            color: $color-highlight ;
            background-color: #E0D0D3;
        }
    }
}

.list{
    // position: relative;
    list-style: none;
    padding: 0;
    li{
        padding-left: 2rem;
        position: relative;
        &::before{
            content: "▹";
            position: absolute;
            left: 0px;
            top: -5px;
            font-size: 25px;
            color: $color-secondary;
        }
    }
}

.grid{
    display: grid;
    &-2{
        grid-template-columns: repeat(2, minmax(140px, 200px));
    }
}

.highlight{
    color: $color-highlight;
}

.hide{
    display: none;
}

.projectlist{
    padding: 0;
    .project{
        margin: 1rem;
        padding: 2rem;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        align-items: center;
        overflow: hidden;
        &-image, &-content{
            grid-row: 1/2;
        }
        &-image{
            img{
                box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;
                cursor: pointer;
            }
            z-index: 1;                        
        }
        &-content{
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: space-between;

            transition:all 0.5s ease-in-out;
            .project-info{
                box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
                background-color: #E0D0D3;
                border-radius: 0.2rem;
                padding: 1.5rem 1rem;
                margin: 1rem 0;
            }
            .project-techStack{
                display: flex;
                list-style: none;
                li{
                    margin: 0.5rem;
                }                
                padding: 0;
            }
        }
        &.project-left{
            .project-image{
                grid-column: 6/-1;
                &:hover{
                    & + div{
                        transform: translateX(-200px);
                        opacity: 0.1;
                    }
                }
            }
            .project-content{
                grid-column: 1/9;
                .project-techStack{
                    justify-content: flex-start;
                }
            }
        }
        &.project-right{
            .project-image{
                grid-column: 1/8;
                &:hover{
                    & + div{
                        transform: translateX(200px);
                        opacity: 0.1;
                    }
                }
            }
            .project-content{
                grid-column: 5/-1;
                text-align: right;
                .project-techStack{
                    justify-content: flex-end;
                }
            }
        }
    }

}