@import  './colors.scss';

.btn{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    border-style: solid;
    border-color: $color-secondary;
    margin: 0.5rem 0;
    text-decoration: none;
    &__secondary{
        background-color: $color-secondary;
        color: white;
        padding: 0 1rem;
        &:hover{
            background-color: $color-background;
            color: $color-secondary;
        }
    }
}

.font-bodoni{
    font-family: 'Bodoni Moda', sans-serif;
    font-weight: 600;
}

.font-thin{
    font-weight: 100;
}

h2, h4, h5{
    margin: 0;
}

h4 {
    font-family: 'Bodoni Moda', serif;
    // font-weight: 900;
    font-size: 1.1rem;
}

h2{
    font-size: 3rem;
    font-weight: 500;
}

.section{
    &__heading{
        color: $color-secondary;
        font-size: 3rem;
        font-weight: 600;
        display: flex;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: relative;
            margin-left: 10px;
            height: 1px;
            width: 300px;
            background-color: $color-tertiary;
            top: 2.5rem;
        }
    }
    &__inner{
        display: flex;
    }
}

