@import './colors.scss';

.content{
    display: flex;
    justify-content: center;
    margin: 0 5rem;
    &__area{
        max-width: 950px;
    }
    .socials{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // height: 85vh;
        position: fixed;
        bottom: 0;
        left: 15px;
        right: auto;
        &__icon{
            display: flex;
            flex-direction: column;
            svg{
                padding-bottom: 1.5rem;
                fill: $color-primary;
                cursor: pointer;
                transition: transform 200ms ease-in-out;
                &:hover{
                    fill: $color-secondary;
                    transform: translateY(-0.3rem);
                }
            }
        }
        &::after{
            content: "";
            display: block;
            width: 2.3px;
            height: 95px;
            margin: 0px auto;
            background-color: $color-primary;
        }
    }
    .email{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        bottom: 0;
        right: 15px;
        left: auto;
        // height: 85vh;
        a{
            color: $color-primary;
            text-decoration: none;
            padding-bottom: 0.7rem;
            writing-mode: vertical-rl;
            transition: transform 200ms ease-in-out;
            &:hover{
                color: $color-secondary;
                transform: translateY(-0.3rem);
            }
        }
        &::after{
            content: "";
            display: block;
            width: 2.3px;
            height: 95px;
            margin: 0px auto;
            background-color: $color-primary;
        }
    }

    @media (max-width: 700px) {
        .socials, .email{
            display: none;
        }
    }
}