.header{

    // border: 10px red solid;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    &__logo{
        height: 45px;
        width: 140px;
        transform: rotate(-3deg);
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    ul{
        padding: 0;
        display: flex;
        list-style-type: none;
        li{
            margin: 0 0.5rem ;
        }
    }
}