.header{
    &__logo{
        height: 45px;
        width: 140px;
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    ul{
        padding: 0;
        display: flex;
        list-style-type: none;
        li{
            margin: 0 0.5rem ;
        }
    }
}