.navbar{
    display: flex;
    justify-content: space-between;
    &__logo{
        height: 3rem;
        width: 3rem;
    }
    &__list{
        ul {
            padding: 0;
            display: flex;
            list-style-type: none;
            li{
                margin: 0 0.2rem ;
            }
        }
    }
}