@use './header.scss';
@use './content.scss';
@use './About.scss';
@use './components.scss';
@import './colors.scss';

// @import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Poppins&display=swap');

// fonts
// font-family: 'Bodoni Moda', serif;
// font-family: 'Poppins', sans-serif;

// colors
// $color-primary: #221437;
// $color-secondary: #793cfb;
// $color-tertiary: #A77CE3;


// h1, h2, h3, h4, h5, h6 {
//   font-family: 'League Gothic', sans-serif;
//   letter-spacing: .2rem;
// }

// h2{
//   font-family: 'Bodoni Moda', serif;
//   font-size: 3rem;
//   font-weight: 10000rem;
//   letter-spacing: .2rem;
// }

body{
    // margin: 0 3rem;
    font-family: 'Poppins', sans-serif;
    color: $color-primary;
    background-color: #faf2f0;
}

