@import './animations.scss';

.intro{
    display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 80vh;
}

@media (min-width: 560px){
    .intro{
        margin: 2rem 1rem;
    }
    
}

@media (max-width: 768px){
    .intro{
        justify-content: center;
        color: red;
        // display: block;
    }
    
}