.resume{
    display: flex;
    justify-content: center;
    overflow: hidden;
    // overflow: scroll;
    // overflow-y: scroll;
    position: relative;
    img {
        height: 850px;
        width: 650px;
        // transform: scale(1.5);
        // position: relative;
    }
}