@import './colors.scss';

.resume{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // overflow: hidden;
    // overflow: scroll;
    // overflow-y: scroll;
    // position: sticky;
    // top: 0;
    // height: 100vh;
    // width: auto;
    // border: 1px solid red;
    position: relative;
    height: 100vh;
    .image-wrapper{
        display: flex;
        justify-content: center;
        // position: sticky;
        top: 0;
        // z-index: 1 !important;
        transition: all 0.5s ease-in-out;
        height: 90vh;
        @media (max-width: 530px) {
            height: 70vh;
        }
        @media (max-width: 400px) {
            height: 50vh;
        }
        // width: 40vw;
        .img {
            // height: 1942px;
            // width: 1371px;
            height: auto;
            transition: all 0.5s ease-in-out;
            // width: auto;
            // @media (max-width: 530px) {
            //     height: 70%;
            // }
            // @media (max-width: 400px) {
            //     height: 50%;
            // }
            

        }
    }
    .img-text{
        width: 100%;
        display: flex;
        justify-content: center;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        h1{
            width: 50%;
        }
    }

    transition: all 0.5s ease-in-out;
}
.scaleDown{
    .image-wrapper{
        img{
            height: 200px;
            // animation-name: scaleDown;
            // animation-duration: 0.5s;
            // animation-timing-function: ease-in-out;
            // animation-fill-mode: forwards;
            // z-index: 5;
            transform: scale(0.5) translateY(30px);
            opacity: 0.5;
            // transform: translateY(30px);
        }
    }
    .img-text{
        color: $color-secondary;
        transform: translateY(-400px);
        @media (max-width: 400px) {
            transform: translateY(-200px);
        }
        // top: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        opacity: 1;
    }
}

.scaleUp{
    .image-wrapper{
        img{
            height: 200px;
            // animation-name: scaleUp;
            // animation-duration: 0.5s;
            // animation-timing-function: ease-in-out;
            // animation-fill-mode: forwards;
            transform: scale(1);
            opacity: 1;
            // transform: translateY(30px);
        }
    }
    .img-text{
        color: $color-secondary;
        position: absolute;
        opacity: 0;

        // display: none;
    }
}

@keyframes scaleDown {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.5);
        opacity: 0.5;
        transform: translateY(30px);
    }
  }

@keyframes scaleUp {
    from {
        transform: scale(0.5);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}