.resume{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // overflow: hidden;
    // overflow: scroll;
    // overflow-y: scroll;
    // position: sticky;
    // top: 0;
    height: 160vh;
    width: auto;
    // border: 1px solid red;
    .image-wrapper{
        display: flex;
        justify-content: center;
        position: sticky;
        top: 0;
        z-index: 1 !important;
        transition: all 0.5s ease-in-out;
        .img {
            z-index: 2 !important;

            // position: -webkit-sticky;
            // position: sticky;
            // top: 0;
            // left: auto;
            // right: 0;
            // bottom: auto;
            height: 100vh;
            width: 50vw;
            // background-color: red;
            // transform: scale(1.5);
            // position: relative;
        }
    }
    .img-text{
        width: 100%;
        display: flex;
        justify-content: center;
        h1{
            z-index: 99999 !important;
        }
        // z-index: 1000;
    }
}